<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput [(ngModel)]="model.UserName" [ngModelOptions]="{standalone: true}" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput  [(ngModel)]="model.Password" [ngModelOptions]="{standalone: true}" />
    </mat-form-field>
    <p>
        <button mat-raised-button color="primary">Login</button>
        <button mat-raised-button>Reset</button>
    </p>
</form>