<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" routerLink="home">WebSiteName</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" routerLink="home"><a >Home</a></li>
          <li routerLinkActive="active" routerLink="about"><a >About</a></li>
          <li routerLinkActive="active" routerLink="contact"><a >Contact</a></li>
          <li routerLinkActive="active" routerLink="location"><a >Location</a></li>
          <li routerLinkActive="active" routerLink="parent"><a >Parent</a></li>
          <li routerLinkActive="active" routerLink="template-form"><a >Template</a></li>
          <li routerLinkActive="active" routerLink="reactive"><a >Reactive</a></li>
          <li routerLinkActive="active" routerLink="emp"><a >Employee</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Page 1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a>Page 1-1</a></li>
              <li><a>Page 1-2</a></li>
              <li><a>Page 1-3</a></li>
            </ul>
          </li>
          <li><a>Page 2</a></li>
          <li><a>Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
</nav>