<div style="border: 1px solid red;">
    <p>parent works!</p>
    {{childData}}
    <button (click)="clickButton()">clickButton </button>
    {{byViewGetData | json}}
</div>

<h1>shareServiceData= {{shareServiceData}}</h1>



111= {{10+40}}
<br>
<div>with norm {{tagData}}</div>
<div>with json {{tagData | json}}</div>
obj = {{obj | json}}
<!-- obj = {{obj?.age}} -->
<div [innerHTML]="tagData"></div>
<!-- angualar and djs exxpression -->
<app-child-data [abc]="pData" [xyz]="arr" (childDataByEvent)="childByFun($event)"></app-child-data>
<app-emp></app-emp>
<!-- json   = "{'name':'bk'}"
object = {name:'bk'} -->